# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
.env

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.log

# IDE
.vscode/
.idea/

# OpenCode
.opencode/

# Binarios
*.exe

# State files
avatar_state.json

# Screenshots temporarios
*.tmp

# AppImage / builds
node_modules/
*.AppImage
AppDir/
